{% extends "base.html" %}
{% block content %}
        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h3>自我介绍</h3>
						<p>
							自我介绍
						</p>

					</div>
					<div class="col-sm-6">
						<div class="video-wrapper">
							<iframe src="http://player.vimeo.com/video/47000322?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>



{% endblock %}
